<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Agenda</title>
</head>
<body>
<main>
    <div class="container">
        <h1 class="mt-2">Agenda</h1>
        <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
        <div class="card mb-2">
            <div class="card-header">
                Consultar Agenda
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="data" class="form-label">Data</label>
                                <input type="date" name="data" th:value="${data != null ? #temporals.format(data, 'yyyy-MM-dd') : ''}" class="form-control" id="data">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="medico" class="form-label">Médico</label>
                                <select class="form-select" id="medico" name="medico">
                                    <option selected value="">Selecione uma opção...</option>
                                    <option th:each="m : ${medicos}"
                                            th:value="${m.id}"
                                            th:text="${m.nome}"
                                            th:selected="${medico != null} ? (${m.id} == ${medico}) : false">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end my-2 gap-2">
                            <a th:href="@{/agenda/listar}" class="btn btn-secondary">
                                <i class="fa-solid fa-soap"></i>
                                Limpar
                            </a>
                            <button type="button" id="btn-gerar" class="btn btn-success">
                                <i class="fa-solid fa-plus"></i>
                                Gerar Agenda
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Médico</th>
                        <th scope="col">Início</th>
                        <th scope="col">Fim</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="h : ${horariosAgenda}">
                        <td th:text="${#temporals.format(h.data, 'dd/MM/yyyy')}"></td>
                        <td th:text="${h.medico.nome}"></td>
                        <td th:text="${#temporals.format(h.inicio, 'HH:mm')}"></td>
                        <td th:text="${#temporals.format(h.fim, 'HH:mm')}"></td>
                        <td th:switch="${h.statusHorarioAgenda.id}">
                            <span th:case="1" class="badge text-bg-primary" th:text="${h.statusHorarioAgenda.descricao}"></span>
                            <span th:case="2" class="badge text-bg-warning" th:text="${h.statusHorariaAgenda.descricao}"></span>
                            <span th:case="3" class="badge text-bg-danger" th:text="${h.statusHorariaAgenda.descricao}"></span>
                            <span th:case="4" class="badge text-bg-primary" th:text="${h.statusHorariaAgenda.descricao}"></span>

                            <span th:case="*" class="badge text-bg-secondary" th:text="${h.statusHorariaAgenda.descricao}"></span>
                        </td>
                        <td style="width: 1%; white-space: nowrap;">
                            <div class="d-flex gap-2">
                                <a th:href="@{/agenda/marcar/{id}(id=${h.id})}">
                                    <button title="Marcar Consulta" type="button" class="btn btn-success">
                                        <i class="fa-solid fa-circle-check"></i>
                                    </button>
                                </a>
                                <a data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" th:href="@{/agenda/cancelar/{id}(id=${h.id})}">
                                    <button title="Cancelar" type="button" class="btn btn-danger">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de Exclusão -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmDeleteModalLabel"><strong>Você está prestes a cancelar uma consulta. </strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja mesmo realizar esta ação?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var confirmDeleteModal = document.getElementById('confirmDeleteModal');
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

            confirmDeleteModal.addEventListener('show.bs.modal', function(event) {
                var button = event.relatedTarget;
                var deleteUrl = button.getAttribute('href');
                confirmDeleteBtn.setAttribute('href', deleteUrl);
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            function isDateValid(dateStr) {
                return !isNaN(new Date(dateStr));
            }

            $("#btn-gerar").click(function(){
                var data = $("#data").val();
                var medico = $("#medico").val();

                if(!isDateValid(data)){
                    alert("A data selecionada é inválida!");
                    return;
                }

                if(isNaN(parseInt(medico))){
                    alert("Médico selecionado inválido!");
                    return;
                }

                window.location.href = `/agenda/gerar/medico/${medico}?data=${data}`;
            });
        });
    </script>
</main>
</body>
</html>