<header th:fragment="header">
    <nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/pacientes/listar"><i class="fa-solid fa-notes-medical"></i> Agenda Médica</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN') or hasAnyRole('SECRETARIO')" href="/pacientes/listar">
                        Pacientes
                    </a>
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN')"  href="/medicos/listar">
                        Médicos
                    </a>
                    <a class="nav-link" sec:authorize="hasAnyRole('MEDICO') or hasAnyRole('ADMIN')" href="/consultas/listar">
                        Consultas
                    </a>
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN') or hasAnyRole('SECRETARIO') or hasAnyRole('MEDICO')"  href="/agenda/listar" >
                        Agenda
                    </a>
                </div>
                <div class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Olá <strong sec:authentication="name"></strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item">Sair</button>
                            </form>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </nav>
</header>