<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Listagem de Consultas</title>
</head>
<body>
<main>
    <div class="container">
        <h1 class="mt-2">Listagem de Consultas</h1>
        <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
        <div class="d-flex justify-content-end my-2">
            <a href="/consultas/cadastrar">
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Cadastrar
                </button>
            </a>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Filtros
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="paciente" class="form-label">Paciente</label>
                                <select class="form-select" id="paciente" name="paciente">
                                    <option selected value="">Selecione uma opção...</option>
                                    <option th:each="p : ${pacientes}"
                                            th:value="${p.id}"
                                            th:text="${p.nome}"
                                            th:selected="${paciente != null} ? (${p.id} == ${paciente}) : false">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="medico" class="form-label">Médico</label>
                                <select class="form-select" id="medico" name="medico">
                                    <option selected value="">Selecione uma opção...</option>
                                    <option th:each="m : ${medicos}"
                                            th:value="${m.id}"
                                            th:text="${m.nome}"
                                            th:selected="${medico != null} ? (${m.id} == ${medico}) : false">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="datainicio" class="form-label">Data | Inicio:</label>
                                <input type="datetime-local" name="datainicio" class="form-control" id="datainicio" th:value="${datainicio}" aria-describedby="datainicio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label for="datafim" class="form-label">Data | Fim:</label>
                                <input type="datetime-local" name="datafim" class="form-control" id="datafim" th:value="${datafim}" aria-describedby="datafim">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end my-2 gap-2">
                            <a th:href="@{/consultas/listar}" class="btn btn-secondary">
                                <i class="fa-solid fa-soap"></i>
                                Limpar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Data</th>
                        <th scope="col">Paciente</th>
                        <th scope="col">Médico</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${consultas}">
                            <td th:text="${c.id}"></td>
                            <td th:text="${#temporals.format(c.data, 'dd/MM/yyyy HH:mm')}"></td>
                            <td th:text="${c.paciente.nome}"></td>
                            <td th:text="${c.medico.nome}"></td>
                            <td style="width: 1%; white-space: nowrap;">
                                <div class="d-flex gap-2">
                                    <a th:href="@{/consultas/editar/{id}(id=${c.id})}">
                                        <button type="button" class="btn btn-primary">
                                            <i class="fa-solid fa-marker"></i>
                                        </button>
                                    </a>
                                    <a  data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" th:href="@{/consultas/deletar/{id}(id=${c.id})}">
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de Exclusão -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmDeleteModalLabel"><strong>Você está prestes a excluir um registro. </strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja mesmo realizar esta ação?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var confirmDeleteModal = document.getElementById('confirmDeleteModal');
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

            confirmDeleteModal.addEventListener('show.bs.modal', function(event) {
                var button = event.relatedTarget;
                var deleteUrl = button.getAttribute('href');
                confirmDeleteBtn.setAttribute('href', deleteUrl);
            });
        });
    </script>
</main>
</body>
</html>