<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Listagem de Pacientes</title>
</head>
<body>
<main>
    <div class="container">
        <h1 class="mt-2">Listagem de Pacientes</h1>
        <div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
        <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
        <div class="d-flex justify-content-end my-2">
            <a href="/pacientes/cadastrar">
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Cadastrar
                </button>
            </a>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Filtros
            </div>
            <div class="card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" name="nome" class="form-control" id="nome" th:value="${nome}" aria-describedby="nome">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end my-2 gap-2">
                            <a th:href="@{/pacientes/listar}" class="btn btn-secondary">
                                <i class="fa-solid fa-soap"></i>
                                Limpar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${pacientes}">
                            <td th:text="${p.id}"> </td>
                            <td th:text="${p.nome}"> </td>
                            <td th:text="${p.telefone}"> </td>
                            <td style="width: 1%; white-space: nowrap;">
                                <div class="d-flex gap-2">
                                    <a th:href="@{/consultas/paciente/{id}/listar(id=${p.id})}">
                                        <button title="Visualizar Consultas" type="button" class="btn btn-success">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                    </a>
                                    <a th:href="@{/pacientes/editar/{id}(id=${p.id})}">
                                        <button title="Editar" type="button" class="btn btn-primary">
                                            <i class="fa-solid fa-marker"></i>
                                        </button>
                                    </a>
                                    <a data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" th:href="@{/pacientes/deletar/{id}(id=${p.id})}">
                                        <button title="Excluir" type="button" class="btn btn-danger">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de Exclusão -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="confirmDeleteModalLabel"><strong>Você está prestes a excluir um registro. </strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Você deseja mesmo realizar esta ação?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var confirmDeleteModal = document.getElementById('confirmDeleteModal');
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

            confirmDeleteModal.addEventListener('show.bs.modal', function(event) {
                var button = event.relatedTarget;
                var deleteUrl = button.getAttribute('href');
                confirmDeleteBtn.setAttribute('href', deleteUrl);
            });
        });
    </script>
</main>
</body>
</html>